#parteSuperior {
    padding: 12px;
 }

 #titulo {
     text-transform: uppercase;
     letter-spacing: 0.2rem;
 }

#txt {
     display: block;
 }

.text {
     width: 90%;
     margin-bottom: 10px;
 }

 #botoes{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 5px;
     padding: 0px 20px 0px;
     margin-bottom: 20px;
 }
 .btns { 
     font-size: 13px;
     margin-top: 0px;
     margin-bottom: 0px;
 }
 
 #alerta {
     margin-top: 0px;
     margin-bottom: 0px;
 }
 
 footer {
     padding: 20px;
     display: flex;
     justify-content:space-evenly;
     align-items: center;
     color: #b9d9eb;
     padding: 0px 0px 20px;
 }